.graphSVG .selected{
	opacity:1;
}

.graphSVG .unselected{
	opacity:0.2;
}

.graphSVG .clickSelected{
	opacity:1;
}

.graphSVG .clickUnselected{
	opacity:0.2;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-family: Microsoft Yahei;
  font-size:10px;
  padding-left: 12px;
  padding-right:12px;
  padding-top:8px;
  padding-bottom:2px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 6px;
  /*width:180px;*/
  /* line-height:15px; */ /*设置行距*/
  z-index:3;
}